#home{
    height: 100vh;
    display: flex;
    text-align: center;
    font-size: 50px;
    color: #414a4c;
    
    top: 0;
   background-color: black;
   /* background-image: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);*/
    
    /*background-image: linear-gradient(to right,limegreen,turquoise);*/
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /*background-image:linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
    /*background-image: linear-gradient( 109.6deg,#16222A,#3A6073);*/
    
    /*background-image:-webkit-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);background-image:-o-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);background-image:linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);}*/
    
}


.head{
    height: 100vh;
}
.box-1{
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 10;
    font-weight: 700;
    right: 0px;
}

#myVideo{
    justify-content: center ;
    height: auto;
    width: 100%;
    top: 0px;
    bottom: 10px;
    position: relative;
align-items: center;
bottom:160px;
    
}